body{
    box-sizing: border-box;
    padding: 30px 50px; 
}

tr:hover{
    background-color: lightgreen;
    color: white;
    opacity:0.8; 
}

td{
    width:50px;
    font-size: 30px; 
    border: 3px solid gray; 
    text-align: center;
    padding: 1.1rem;
}

input{
    font-size: 30px;
    width: 200px;
    height: 100px;
    color: green; 
    padding: 0px 10px; 
}

button{
    width: 70px; 
    height: 70px; 
}